/* Estilos gerais */
body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7efef;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: scroll; /* hidden=Evitar rolagem na página */
}

/* Fundo gradiente de vermelho para preto (da esquerda superior para a direita inferior) */
.gradient-background {
    background-image: url(../imagens/fundo_lanchonete.png);
    background-size: cover; /* Garante que a imagem inteira apareça */
    background-repeat: no-repeat; /* Evita repetição da imagem */
 /* background-color: #E85D3D */
 /*background: linear-gradient(to bottom right, rgb(241, 156, 18), rgb(255, 227, 184));*/
    padding: 0px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Container principal */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px; /* Diminuir o espaçamento interno */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Ícones das redes sociais */
.social-icons {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px 0;
    margin-bottom: 5px; /* Reduzir o espaço entre os ícones e o próximo conteúdo */
}

.social-icons a {
    color: rgb(87, 61, 27);
    margin: 0 30px;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* Efeito hover nos ícones das redes sociais */
.social-icons a:hover {
    color: rgba(206, 9, 9, 0.94); /* Muda a cor para laranja quando o mouse passa sobre os ícones */
}

/* Cardápio */
.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7); /* Transparência */
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0);
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px; /* Diminuir espaço entre o cardápio e o resumo */
}

/* Item de cardápio */
.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    margin: 5px 0; /* Diminuir o espaçamento entre os itens */
    width: 100%;
}

.item-info {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-info input {
    width: 100px;
    border-radius: 15px; /* Bordas arredondadas */
    padding: 10px;
    font-size: 16px;
}

.menu-item img {
    width: 80px;
    height: 80px;
   /* object-fit: cover;*/
    border-radius: 20px;/* Bordas arredondadas */
    margin-left: 20px;
}

/* Botão */
button {
    background-color: #015324;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px; /* Diminuir espaço entre o botão e os itens */
}

button:hover {
    background-color: #ce0303;
}

/* Resumo do pedido */
.order-summary {
    background-color: rgba(255, 149, 2, 0.907); /* Transparência */
    padding: 10px;
    margin-top: 10px;
    border: 2px solid #d24e07e3;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    text-align: center;
    margin-bottom: 5px; /* Diminuir o espaço entre o resumo e o footer */
    margin-left: auto;
    margin-right: auto; /* Garantir que fique centralizado */
}

/* Alinha o resumo do pedido com o tamanho da div do cardápio */
#resumoPedido {
    margin-top: 10px;
    font-size: 16px;
}

/* Footer */
footer {
    background-color: rgba(240, 146, 14, 0);
    color: rgb(200, 73, 9);
    border-radius: 5px;
    font-size: 10px;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px; /* Ajuste o espaçamento entre o conteúdo e o footer */
}

footer a {
    color: #0d0c09;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
